<h1>Editing Song</h1>

<%= render 'form', song: @song %>

<%= link_to 'Delete', @song, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Show', @song %> |
<%= link_to 'Back to Index', songs_path %>
