/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides

 */

.notation {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 1.4em;
  height: 4em
}

div.ui-notation-keyboard button:not(.ui-keyboard-actionkey) {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  height: 3em;
}

div.form-table {
  width: 100%;
  display: table;
}

div.form-table-row {
  display: table-row;
}

div.form-table-cell {
  display: table-cell;
}

h2 div input[type='text'] {
  font-size: 3rem;
  height: 4rem;
}

div.form-table-cell+div.form-table-cell {
  padding-left: 1rem;
}

div.header ul {
  list-style: none;	
  margin: 0.5em;
  padding: 0;
  display: inline;
}

div.header ul.lmenu {
  text-align: left;
  float: left;
}

div.header ul.rmenu {
  text-align: right;
  float: right;
}

div.header ul li {
  display: inline;
}

a:visited.button {
  color: white;
}

div.header {
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding-right:0.5em;
  background: #1779ba;
  display: inline;
}

div.footer {
  position:fixed;
  bottom:0;
  margin: 0.5em;
  background: white;
}

div.content {
  margin-top: calc(1em + 13px);
  margin-bottom: calc(1em + 13px);
}

div.header a {
  color: white;
}

div.header a:visited {
  color: white;
}

#alert {
  color: red;
}

#song_concepts_table input.boolean[type='checkbox'] {
  margin: auto;
  display: block;
}

#song_concepts_table td {
  text-align: center;
}

.has-tip.no-special-cursor {
  cursor: auto;
}

table.set {
  margin-bottom: 0px;
  table-layout: fixed;
  width: auto;
}

table.set th {
  text-align: left;
}

td, th {
  white-space: nowrap;
}

table.set tr:nth-child(even) td {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #FFFFFF;
}

table.set tr:nth-child(odd) td {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #F1F1F1;
}

table.set tr:nth-child(even) td:first-child {
  border-left-style: none;
}

table.set tr:nth-child(odd) td:first-child {
  border-left-style: none;
}

td.form-set {
  text-align: center;
}

td.empty {
  width: 100%;
}

th > h5, th > h1 {
  margin-bottom: 0
}
  
td > pre {
  line-height: 1rem;
  font-family: verdana, arial, helvetica, sans-serif;
  border: none;
  background-color: inherit;
  white-space: pre-wrap;
}

thead.song-title, tr.blank-bg {
  background-color: #ffffff;
}

tr.notation-image > td {
  text-align: center;
}

tfoot td {
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

input.has-tip {
  font-weight: normal;
}

div.input-group input[type='search'] {
  margin-bottom: 0px;
}

div.input-group a {
  margin-left: 16px;
  margin-right: 16px;
}

table.show-song tbody tr th {
  width: 25%;
}

@media print {
  thead.song-title, tr.blank-bg {
    background-color: #ffffff !important;
    -webkit-print-color-adjust: exact;
  }
  
  thead {
    background-color: #f8f8f8 !important;
    -webkit-print-color-adjust: exact;
  }

  tr:nth-child(even) {
    background-color: #f1f1f1 !important;
    -webkit-print-color-adjust: exact;
  }
  
  .has-tip {
    border-bottom: none;
  }
  
  td, body, p {
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  table.show-song td {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  h4, h5 {
    font-size: 1rem;
  }
  
  img.song-image {
    display: block;
    width: 6.5in;
    margin-left: auto;
    margin-right: auto;
  }
  
  .notation {
    font-size: 1.3em;
    padding-top: 1.3em;
    height: 0em;
  }
}
