/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides

 */
@font-face {
  font-family: 'Bravura';
  src:url('Bravura.eot');
  src:url('Bravura.eot?#iefix') format('embedded-opentype'),
    url('Bravura.svg#Bravura') format('svg'),
    url('Bravura.woff') format('woff'),
    url('Bravura.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BravuraText';
  src:url('BravuraText.eot');
  src:url('BravuraText.eot?#iefix') format('embedded-opentype'),
    url('BravuraText.svg#BravuraText') format('svg'),
    url('BravuraText.woff') format('woff'),
    url('BravuraText.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.notation {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 1.4em;
  height: 4em
}

div.ui-notation-keyboard button:not(.ui-keyboard-actionkey) {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  height: 3em;
}

div.inline-form-elements * {
  display: inline-block;
}

div.inline-form-elements select {
  width: 84%;
}

div.inline-form-elements a {
  width: 15%;
  margin-top: 12px;
}

div.header ul {
  list-style: none;	
  margin: 0.5em;
  padding: 0;
  display: inline;
}

div.header ul.lmenu {
  text-align: left;
  float: left;
}

div.header ul.rmenu {
  text-align: right;
  float: right;
}

div.header ul li {
  display: inline;
}

a:visited.button {
  color: white;
}

div.header {
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding-right:0.5em;
  background: #1779ba;
  display: inline;
}

div.footer {
  position:fixed;
  bottom:0;
  margin: 0.5em;
  background: white;
}

div.content {
  margin-top: calc(1em + 13px);
  margin-bottom: calc(1em + 13px);
}

div.header a {
  color: white;
}

div.header a:visited {
  color: white;
}

#alert {
  color: red;
}
