/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require foundation_and_overrides

 */

.notation {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 1.4em;
  height: 4em
}

div.ui-notation-keyboard button:not(.ui-keyboard-actionkey) {
  font-family: Bravura;
  font-size: 1.4em;
  font-weight: bold;
  height: 3em;
}

div.form-table {
  width: 100%;
  display: table;
}

div.form-table-row {
  display: table-row;
}

div.form-table-cell {
  display: table-cell;
}

h2 div input[type='text'] {
  font-size: 3rem;
  height: 4rem;
}

div.form-table-cell+div.form-table-cell {
  padding-left: 1rem;
}

div.header ul {
  list-style: none;	
  margin: 0.5em;
  padding: 0;
  display: inline;
}

div.header ul.lmenu {
  text-align: left;
  float: left;
}

div.header ul.rmenu {
  text-align: right;
  float: right;
}

div.header ul li {
  display: inline;
}

a:visited.button {
  color: white;
}

div.header {
  position:fixed;
  width:100%;
  top:0;
  left:0;
  padding-right:0.5em;
  background: #1779ba;
  display: inline;
}

div.footer {
  position:fixed;
  bottom:0;
  margin: 0.5em;
  background: white;
}

div.content {
  margin-top: calc(1em + 13px);
  margin-bottom: calc(1em + 13px);
}

div.header a {
  color: white;
}

div.header a:visited {
  color: white;
}

#alert {
  color: red;
}

#song_concepts_table input.boolean[type='checkbox'] {
  margin: auto;
  display: block;
}

#song_concepts_table td {
  text-align: center;
}
